/* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    background-color: #f7f7f7;
    padding-top: 0px 10px 10px 10px;
}

.dark-font-color {
    color: #212121;
}

.header-top-bg {
    height: 70px;
    background-image: url(../img/bg-top-09.svg);
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: auto 70px;
}

main {
    text-align: center;
}

.section-school-name {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-title-site {
    margin-bottom: 20px;
    font-size: 54px;
    color: #016D3F;
    line-height: 1;
}

.message {
    margin-bottom: 5px;
    font-size: 14px;
}

.author {
    margin-bottom: 30px;
    font-size: 14px;
}

.section-buttons-home {
    margin-bottom: 20px;
}

.section-page-name {
    margin-bottom: 20px;
    font-size: 42px;
    color: #016D3F;
    line-height: 1;
}

.section-page-text {
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    /* display: inline-block;
    width: 350px; */
}


/*** Buttons ***/

.button {
  border: none;
  border-radius: 14px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/***** href *****/
.button-2 {
    display: inline-block;
    border-radius: 14px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
}
.btn-start {
  background-color: #ffa739;
}
.btn-start:hover {
  background-color: #ffb739;
}
.btn-about {
  background-color: #e5e5e5;
}
.btn-about:hover {
  background-color: #ebebeb;
}
/****************/


.button-start {
  background-color: #ffa739;
}

.button-start:hover {
  background-color: #ffb739;
}

.button-about {
  background-color: #e5e5e5;
}

.button-about:hover {
  background-color: #ebebeb;
}

.button-gallery {
  background-color: #b3e9a1;
}

.button-gallery:hover {
  background-color: #b3f9a1;
}



/*************/
/*** cards ***/

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 320px;
    height: 480px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    bow-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding-top: 10px;
    position: relative;
}
.card img {
    width: 300px;
    height: auto;
}
.card-content {
    padding: 10px;
    text-align: left;
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
}
.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;

}
.card-content .btn {
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #53b68c;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    position: absolute;
    bottom: 10px;
}

/*** end cards ***/







/*** Tmp ***/

.header-top-logo {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

.nav-tmp a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-tmp a:hover {
    color: red;
}

li:last-child {
    margin-right: 0px;
}

.section-about {
    position: relative;
    margin-bottom: 20px;
}
.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    /* top: 50px;*/
    top: 54%;
    left: 20%;
    padding-top: 15px;
}
.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px, solid, black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
}

.section-about__title {
    font-size: 36px;
    margin: 0 0 9px 0;
}

.section-about__text {
    font-size: 12px;
    margin: 0px;
}

.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;
}
.section-description__icon-box img {
    margin-right: 76px;
}
.section-description__icon-box img:last-child {
    margin-right: 0px;
}
.section-description__title {
    margin: 0px;
    font-size: 96px;
    text-align:center;
}
.section-description__span {
    color: red;
}
.section-description__text {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}


