{% extends 'base.html' %}

<!--{% block title %}-->
<!--About page-->
<!--{% endblock %}-->

{% block content %}

<main class="dark-font-color">
    <section class="section-page-name montserrat-alternates-bold">{{ settings['title_gallery_page'] }}</section>
    <section class="gallery_buttons">
        <button type="button" class="button button-gallery montserrat-alternates-medium">Деревья</button>
        <button type="button" class="button button-about montserrat-alternates-medium">Плодовые деревья</button>
        <button type="button" class="button button-about montserrat-alternates-medium">Кустарники</button>
        <button type="button" class="button button-about montserrat-alternates-medium">Плодовые кустарники</button>
        <button type="button" class="button button-about montserrat-alternates-medium">Травянистые растения</button>
    </section>
</main>

{% endblock %}
