{% extends 'base.html' %}

{% block content %}

<nav></nav>
<main>
    <section class="section-school-name montserrat-alternates-regular">ГКОУ СКОШИ № 30</section>
    <section class="section-title-site montserrat-alternates-extrabold">ШКОЛЬНЫЙ САД</section>
    <section>
        <div class="message montserrat-alternates-regular">{{ settings['message'] }}</div>
        <div class="author montserrat-alternates-semibold-italic">{{ settings['author'] }}</div>
    </section>
    <section class="section-buttons-home">

        <a href="gallery" class="button-2 btn-start montserrat-alternates-medium">ВОЙТИ</a>
        <a href="about" class="button-2 btn-about montserrat-alternates-medium">О НАС</a>

    </section>
</main>
<footer></footer>

{% endblock %}
