{% extends 'base.html' %}

{% block content %}

<nav></nav>
<main>
    <section class="section-school-name montserrat-alternates-regular">ГКОУ СКОШИ № 30</section>
    <section class="section-title-site montserrat-alternates-extrabold">ШКОЛЬНЫЙ САД</section>
    <section>
        <div class="section-message montserrat-alternates-regular">{{ settings['message'] }}</div>
        <div class="section-author montserrat-alternates-semibold-italic">{{ settings['author'] }}</div>
    </section>
    <section class="section-buttons">
        <button type="button" class="button button-start montserrat-alternates-medium">ВОЙТИ</button>
        <button type="button" class="button button-about montserrat-alternates-medium">О НАС</button>
    </section>
</main>
<footer></footer>

{% endblock %}
