{% extends 'base.html' %}

<!--{% block title %}-->
<!--Main page-->
<!--{% endblock %}-->

{% block body %}

<!-- <div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img class="d-block mx-auto mb-4" src="static/img/01-logo.svg" alt="Leaves" width="140" >
    <h1 class="text-body-emphasis montserrat-bold">ШКОЛЬНЫЙ САД</h1>

    <figure>
      <blockquote class="blockquote">
        <p>Следи за своим садом — вот моё правило. Ухаживай за цветами, а не гоняйся за бабочками, и тогда бабочки прилетят к тебе сами. Так жизнь и устроена.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Мэттью МакКонахи</cite>
      </figcaption>
    </figure>

    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Войти
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        О нас
      </button>
    </div>
  </div>
</div> -->



{% endblock %}
