{% extends 'base.html' %}

<!--{% block title %}-->
<!--Main page-->
<!--{% endblock %}-->

{% block body %}

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img class="d-block mx-auto mb-4" src="static/img/leaf.svg" alt="" width="140" >
    <h1 class="text-body-emphasis montserrat-bold">ШКОЛЬНЫЙ САД</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted montserrat-regular">
      Войди в мои объятия, как в сад Что я растил с любовью для тебя И пусть твой самый нежный, милый взгляд Ласкает все цветы мои, любя.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Войти
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        О нас
      </button>
    </div>
  </div>
</div>



{% endblock %}
