{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}
<!--<h1>Main page information</h1>-->

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="static/img/leaf.svg" alt="" width="72" height="57">
    <h2 class="display-5 fw-bold text-body-emphasis">ШКОЛЬНЫЙ САД</h2>
    <div class="col-lg-6 mx-auto">
<!--        <p class="lead mb-4">Следи за своим садом &mdash; вот мое правило. Ухаживай за цветами,-->
<!--            а не гоняйся за бабочками, и тогда бабочки прилетят к тебе сами. Так жизнь и устроена.-->
<!--            Мэттью МакКонахи</p>-->
<!--        <p class="lead mb-4">Напейся, и ты будешь счастлив несколько часов; женись,-->
<!--            и ты будешь счастлив несколько лет; посади сад, и ты будешь счастлив всю жизнь.-->
<!--            Китайская мудрость</p>-->

        <blockquote class='quote'>
        <p class="lead mb-4">Следи за своим садом &mdash; вот мое правило. Ухаживай за цветами,
            а не гоняйся за бабочками, и тогда бабочки прилетят к тебе сами. Так жизнь и устроена.</p>
        <cite>Мэттью МакКонахи</cite>
        </blockquote>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Войти</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">О нас</button>
      </div>
    </div>
  </div>

{% endblock %}
