{% extends 'base.html' %}

{% block content %}

<main>
    <section class="section-page-name montserrat-alternates-bold">{{ settings['name'] }}</section>

    <section class="section-item">
        <p class="montserrat-alternates-regular">
            Гинкго двулопастный (Ginkgo biloba), также известный как «серебристый абрикос», часто называют живой окаменелостью, поскольку его история насчитывает около двухсот миллионов лет. Естественный ареал гинкго двулопастого — территория Китая.
        </p>
        <img src="../static/gallery/1/5/3.png" alt="Plant-photo">
    </section>

    <section class="section-item">
        <p class="montserrat-alternates-regular">
            Гинкго двулопастный — высокое листопадное дерево. Во взрослом возрасте высотой до 40 м и диаметром ствола до 4,5 м. Крона вначале пирамидальная, с возрастом разрастается. Листья имеют характерную веерообразную форму, разделенную на две доли, и осенью становятся ярко-желтыми. Дерево имеет мощную корневую систему, что делает его ветроустойчивым.
        </p>
        <img src="../static/gallery/1/5/2.png" alt="Plant-photo">
    </section>

    <section class="section-item">
        <p class="montserrat-alternates-regular">
            Листья с обеих сторон гладкие, кожистые, длиной до 6 см и шириной 5-8 см. Именно листва придает кустарнику кудрявость. Листья гинкго ботанически классифицированы как иглы.
        </p>
        <img src="../static/gallery/1/5/6.png" alt="Plant-photo">
    </section>

    <section class="section-item">
        <p class="montserrat-alternates-regular">
            Экстракт листьев гинкго используется в медицине для улучшения памяти, кровообращения и работы мозга. Гинкго — двудомное растение: есть мужские и женские деревья. В Китае и Японии гинкго считается священным деревом и символом стойкости и мудрости, его часто сажают возле храмов.
        </p>
    </section>

    <div>
        <a href="../cards/1" class="button-2 btn-about montserrat-alternates-medium">НАЗАД</a>
    </div>

</main>

{% endblock %}
